/*
    font-family: 'Lato', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
**/

.slider-1{
    height: 80vh;
    background-image: url(../../../Assets/background/background-2.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}
.slider-2{
    height: 80vh;
    background-image: url(../../../Assets/background/background-5.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}
.slider-3{
    height: 80vh;
    background-image: url(../../../Assets/background/background-4.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}
.banner-title-1{
    color: white;
    font-family: 'Poppins';
    font-size: 18px;
}
.banner-title-2{
    color: #FF7700;
    font-size: 70px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: .01rem;
    line-height: 5.5rem;
}
.banner-title-3{
    color: white;
    font-size: 25px;
    font-family: 'Poppins';
}
/* CSS */
.banner-button {
    padding: 0.8em 1.8em;
    border: 2px solid #FF7700;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: lato;
    color: #FF7700;
    font-weight: 600;
}
   
   .banner-button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #FF7700;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   .banner-button:hover::before {
    width: 105%;
   }
   
   .banner-button:hover {
    color: #fff;
   }

@media only screen and (max-width:450px) {
    .banner-title-1{
        color: white;
        font-family: 'Poppins';
        font-size: 18px;
    }
    .banner-title-2{
        color: #FF7700;
        font-size: 35px;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        line-height: 2.8rem;
    }
    .banner-title-3{
        color: white;
        font-size: 25px;
        font-family: 'Poppins';
    }
}