/*
    font-family: 'Lato', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
**/

.slider-1{
    height: 80vh;
    background-image: url(../../../Assets/background/background-2.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}
.slider-2{
    height: 80vh;
    background-image: url(../../../Assets/background/background-5.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}
.slider-3{
    height: 80vh;
    background-image: url(../../../Assets/background/background-4.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}
.banner-title-1{
    color: white;
    font-family: 'Poppins';
    font-size: 18px;
}
.banner-title-2{
    color: #FF7700;
    font-size: 70px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: .01rem;
    line-height: 5.5rem;
}
.banner-title-3{
    color: white;
    font-size: 25px;
    font-family: 'Poppins';
}
